name: Run MongoDB Migrations (Dev only)

on:
  workflow_dispatch:

jobs:
  migrate-dev:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Run migrations (Dev)
        run: npx migrate-mongo up
